<h3>This code will work for 3 files donloaded from the website <b>pcp_WY_2022.xlsx, pcp_WY_2023.xlsx, and pcp_WY_2024.xlsx</b></h3> This files contains data from october 2021 - september 2024

<b>Note</b>: It also contains code to extrcat data from previous year data, because the website does not have data before 2011 january

Download files from https://www.maricopa.gov/625/Rainfall-Data

In [2]:
import pandas as pd
import os

In [82]:
#data extraction for precipitation year 22-24
# Read all sheets into a dictionary of DataFrames
#Chnage file name every time for new files. This script will be used for three files (pcp_WY_2022.xlsx, pcp_WY_2023.xlsx, and pcp_WY_2024.xlsx)
file_path = '/Users/kishupatel/Desktop/DesFert/PrecipFiles/precipitation_data/pcp_WY_2022.xlsx'

#dfs = pd.read_excel(file_path, sheet_name=None)
dfs = pd.read_excel(file_path, sheet_name=None, header=0, skiprows=range(0, 2))  # Skips the first 4 rows(header defines number row assigned to header)
for sheet_name, df in dfs.items():
    print(f"Sheet name: {sheet_name}") 
    print(df.head()) #to check the data first row should contain gage id numbers, if not then change the number 2 to 1 in this text above "skiprows=range(0, 2)"
    print("-" * 40)#This part multiplies the string "-" by 40, resulting in a string containing 40 hyphens to arrange sheets in result

Sheet name: SEP
          Gage ID ---> 1000  1200  1500  1600  1700  1800     1900  2000  \
0                  NaN  NaN   NaN   NaN   NaN   NaN   NaN      NaN   NaN
1  2022-09-30 00:00:00    0   0.0   0.0   0.0   0.0   0.0  0.00000   0.0
2  2022-09-29 00:00:00    0   0.0   0.0   0.0   0.0   0.0  0.07874   0.0
3  2022-09-28 00:00:00    0   0.0   0.0   0.0   0.0   0.0  0.00000   0.0
4  2022-09-27 00:00:00    0   0.0   0.0   0.0   0.0   0.0  0.00000   0.0

   3000  ...  86200  86500  86700  87000  87300  87400  87500  87800  89200  \
0   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1   0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2   0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3   0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
4   0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0

   89500
0    NaN
1    0.0
2    0.0
3    0.0
4    0.0

[5 rows x 362 columns]
----------------------------------------
Sheet name: AUG
          Gage ID --->     1000  1200     1500  1600     1700     1800  1900  \
0  2022-08-31 00:00:00        0   0.0  0.00000   0.0  0.00000  0.00000   0.0
1  2022-08-30 00:00:00        0   0.0  0.00000   0.0  0.00000  0.00000   0.0
2  2022-08-29 00:00:00        0   0.0  0.00000   0.0  0.00000  0.00000   0.0
3  2022-08-28 00:00:00        0   0.0  0.00000   0.0  0.00000  0.00000   0.0
4  2022-08-27 00:00:00  0.82677   0.0  0.55118   0.0  0.27559  0.03937   0.0

      2000  3000  ...  86200  86500  86700  87000  87300  87400  87500  87800  \
0  0.00000   0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
1  0.00000   0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2  0.00000   0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3  0.07874   0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
4  0.00000   0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0

   89200  89500
0    0.0    0.0
1    0.0    0.0
2    0.0    0.0
3    0.0    0.0
4    0.0    0.0

[5 rows x 362 columns]
----------------------------------------
Sheet name: JUL
          Gage ID --->     1000     1200     1500     1600     1700     1800  \
0  2022-07-31 00:00:00  0.03937  0.00000  0.00000  0.00000  0.00000  0.00000
1  2022-07-30 00:00:00  0.03937  0.07874  0.03937  0.00000  0.00000  0.00000
2  2022-07-29 00:00:00  0.31496  0.00000  0.00000  0.15748  0.00000  0.03937
3  2022-07-28 00:00:00  0.03937  0.15748  0.51181  0.00000  1.65354  0.47244
4  2022-07-27 00:00:00  0.07874  0.00000  0.00000  0.00000  0.43307  0.00000

      1900     2000  3000  ...    86200    86500    86700    87000    87300  \
0  0.00000  0.00000   0.0  ...  0.00000  0.00000  0.00000  0.00000        0
1  0.43307  1.49606   0.0  ...  0.00000  0.00000  0.00000  0.00000        0
2  0.00000  0.00000   0.0  ...  0.31496  0.07874  0.51181  0.31496  0.15748
3  0.00000  0.59055   0.0  ...  0.23622  0.03937  0.00000  0.00000        0
4  0.19685  0.23622   0.0  ...  0.00000  0.00000  0.00000  0.00000        0

     87400    87500    87800    89200    89500
0  0.00000  0.00000  0.00000  0.00000  0.00000
1  0.00000  0.00000  0.00000  0.00000  0.00000
2  0.03937  0.03937  0.19685  0.03937  0.03937
3  0.00000  0.23622  0.19685  0.07874  0.07874
4  0.00000  0.00000  0.00000  0.00000  0.00000

[5 rows x 361 columns]
----------------------------------------
Sheet name: JUN
          Gage ID --->    1000  1200  1500     1600     1700     1800  1900  \
0                  NaN     NaN   NaN   NaN      NaN      NaN      NaN   NaN
1  2022-06-30 00:00:00       0   0.0   0.0  0.00000  0.00000  0.03937   0.0
2  2022-06-29 00:00:00  1.9685   0.0   0.0  0.35433  2.83464  0.00000   0.0
3  2022-06-28 00:00:00       0   0.0   0.0  0.00000  0.00000  0.00000   0.0
4  2022-06-27 00:00:00       0   0.0   0.0  0.00000  0.00000  0.00000   0.0

   2000  3000  ...    86200  86500    86700    87000  87300  87400  87500  \
0   NaN   NaN  ...      NaN    NaN      NaN      NaN    NaN    NaN    NaN
1   0.0   0.0  ...  0.03937    0.0  0.00000  0.00000    0.0    0.0    0.0
2   0.0   0.0  ...  0.00000    0.0  0.03937  0.51181    0.0    0.0    0.0
3   0.0   0.0  ...  0.00000    0.0  0.00000  0.00000    0.0    0.0    0.0
4   0.0   0.0  ...  0.00000    0.0  0.00000  0.00000    0.0    0.0    0.0

   87800  89200  89500
0    NaN    NaN    NaN
1    0.0    0.0    0.0
2    0.0    0.0    0.0
3    0.0    0.0    0.0
4    0.0    0.0    0.0

[5 rows x 361 columns]
----------------------------------------
Sheet name: MAY
          Gage ID ---> 1000  1200  1500  1600  1700  1800  1900  2000  3000  \
0  2022-05-31 00:00:00    0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1  2022-05-30 00:00:00    0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2  2022-05-29 00:00:00    0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
3  2022-05-28 00:00:00    0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
4  2022-05-27 00:00:00    0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

   ...  86200  86500  86700  87000  87300  87400  87500  87800  89200  89500
0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
1  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
4  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0

[5 rows x 360 columns]
----------------------------------------
Sheet name: APR
          Gage ID ---> 1000  1200  1500  1600  1700  1800  1900  2000  3000  \
0                  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1  2022-04-30 00:00:00    0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2  2022-04-29 00:00:00    0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
3  2022-04-28 00:00:00    0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
4  2022-04-27 00:00:00    0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

   ...  86200  86500  86700  87000  87300  87400  87500  87800  89200  89500
0  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
4  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0

[5 rows x 359 columns]
----------------------------------------
Sheet name: MAR
          Gage ID --->     1000     1200     1500     1600     1700     1800  \
0  2022-03-31 00:00:00        0  0.00000  0.00000  0.00000  0.00000        0
1  2022-03-30 00:00:00  0.51181  0.00000  0.00000  0.00000  0.07874        0
2  2022-03-29 00:00:00  0.35433  0.07874  0.03937  0.47244  0.19685  0.03937
3  2022-03-28 00:00:00        0  0.94488  0.23622  0.00000  0.15748        0
4  2022-03-27 00:00:00        0  0.00000  0.00000  0.00000  0.00000        0

      1900     2000     3000  ...  86200  86500    86700    87000    87300  \
0  0.00000  0.00000  0.00000  ...    0.0    0.0  0.00000  0.00000  0.00000
1  0.00000  0.00000  0.00000  ...    0.0    0.0  0.00000  0.00000  0.00000
2  0.15748  0.70866  0.03937  ...    0.0    0.0  0.11811  0.03937  0.11811
3  0.00000  0.03937  0.00000  ...    0.0    0.0  0.00000  0.00000  0.00000
4  0.00000  0.00000  0.00000  ...    0.0    0.0  0.00000  0.00000  0.00000

     87400    87500    87800    89200    89500
0  0.00000  0.00000  0.00000  0.00000  0.00000
1  0.00000  0.00000  0.00000  0.00000  0.00000
2  0.07874  0.07874  0.03937  0.03937  0.03937
3  0.00000  0.00000  0.00000  0.00000  0.00000
4  0.00000  0.00000  0.00000  0.00000  0.00000

[5 rows x 359 columns]
----------------------------------------
Sheet name: FEB
          Gage ID --->     1000  1200  1500  1600  1700  1800  1900  2000  \
0                  NaN      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1                  NaN      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2                  NaN      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3  2022-02-28 00:00:00        0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
4  2022-02-27 00:00:00  0.43307   0.0   0.0   0.0   0.0   0.0   0.0   0.0

   3000  ...  86200  86500 86700  87000  87300  87400  87500  87800  89200  \
0   NaN  ...    NaN    NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN
1   NaN  ...    NaN    NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN
2   NaN  ...    NaN    NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN
3   0.0  ...    0.0    0.0   0.0    0.0    0.0    0.0    0.0    0.0    0.0
4   0.0  ...    0.0    0.0   0.0    0.0    0.0    0.0    0.0    0.0    0.0

   89500
0    NaN
1    NaN
2    NaN
3    0.0
4    0.0

[5 rows x 359 columns]
----------------------------------------
Sheet name: JAN
          Gage ID ---> 1000  1200  1500  1600  1700  1800  1900  2000  3000  \
0  2022-01-31 00:00:00    0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1  2022-01-30 00:00:00    0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2  2022-01-29 00:00:00    0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
3  2022-01-28 00:00:00    0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
4  2022-01-27 00:00:00    0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

   ...  86200  86500  86700  87000  87300  87400  87500  87800  89200  89500
0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
1  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
4  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0

[5 rows x 358 columns]
----------------------------------------
Sheet name: DEC
          Gage ID --->     1000     1200     1500     1600     1700     1800  \
0  2021-12-31 00:00:00   0.3937  0.31496  0.23622  0.43307  0.66929  0.15748
1  2021-12-30 00:00:00  0.11811  0.00000  0.07874  0.23622  0.15748  0.00000
2  2021-12-29 00:00:00        0  0.07874  0.00000  0.03937  0.00000  0.00000
3  2021-12-28 00:00:00        0  0.23622  0.00000  0.11811  0.00000  0.03937
4  2021-12-27 00:00:00        0  0.00000  0.00000  0.00000  0.00000  0.00000

      1900     2000     3000  ...    86200    86500    86700    87000  \
0  0.07874  1.49606  0.00000  ...  0.00000  0.00000  0.00000  0.00000
1  0.00000  0.07874  0.00000  ...  0.00000  0.00000  0.00000  0.00000
2  0.03937  0.00000  0.03937  ...  0.00000  0.00000  0.03937  0.00000
3  0.15748  0.00000  0.03937  ...  0.15748  0.15748  0.11811  0.03937
4  0.00000  0.00000  0.00000  ...  0.00000  0.00000  0.00000  0.00000

     87300    87400    87500    87800    89200    89500
0  0.00000  0.00000  0.00000  0.00000  0.00000  0.00000
1  0.00000  0.00000  0.00000  0.00000  0.00000  0.00000
2  0.00000  0.00000  0.00000  0.00000  0.03937  0.00000
3  0.11811  0.11811  0.11811  0.03937  0.07874  0.07874
4  0.03937  0.00000  0.00000  0.00000  0.00000  0.00000

[5 rows x 358 columns]
----------------------------------------
Sheet name: NOV
          Gage ID ---> 1000  1200  1500  1600  1700  1800  1900  2000  3000  \
0                  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1  2021-11-30 00:00:00    0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2  2021-11-29 00:00:00    0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
3  2021-11-28 00:00:00    0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
4  2021-11-27 00:00:00    0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

   ...  86200  86500  86700  87000  87300  87400  87500  87800  89200  89500
0  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
4  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0

[5 rows x 358 columns]
----------------------------------------
Sheet name: OCT
          Gage ID ---> 1000  1200  1500  1600  1700 1800  1900  2000  3000  \
0  2021-10-31 00:00:00    0   0.0   0.0   0.0   0.0  NaN   0.0   0.0   0.0
1  2021-10-30 00:00:00    0   0.0   0.0   0.0   0.0  NaN   0.0   0.0   0.0
2  2021-10-29 00:00:00    0   0.0   0.0   0.0   0.0  NaN   0.0   0.0   0.0
3  2021-10-28 00:00:00    0   0.0   0.0   0.0   0.0  NaN   0.0   0.0   0.0
4  2021-10-27 00:00:00    0   0.0   0.0   0.0   0.0    0   0.0   0.0   0.0

   ...  86200  86500  86700  87000  87300  87400  87500  87800  89200  89500
0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
1  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
4  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0

[5 rows x 358 columns]
----------------------------------------
Sheet name: Annual_Totals
  Gage ID --->     1000     1200     1500     1600      1700     1800  \
0          NaN      NaN      NaN      NaN      NaN       NaN      NaN
1     SEP 2022  2.91338  1.41732  2.99212  2.44094   3.74015  1.61417
2          NaN      NaN      NaN      NaN      NaN       NaN      NaN
3     AUG 2022  6.77164  4.64566  6.37794  2.00787  10.94486  1.25984
4          NaN      NaN      NaN      NaN      NaN       NaN      NaN

      1900     2000     3000  ...    86200    86500    86700    87000  \
0      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1  0.39370  1.06299  0.62992  ...  1.49606  1.49606  1.18110  0.82677
2      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
3  2.20472  2.28346  0.82677  ...  3.62204  2.83464  1.02362  1.25984
4      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN

     87300    87400    87500    87800    89200    89500
0      NaN      NaN      NaN      NaN      NaN      NaN
1  2.24409  1.73228  0.59055  1.29921  0.39370  0.51181
2      NaN      NaN      NaN      NaN      NaN      NaN
3  1.53543  1.57480  1.10236  0.98425  1.29921  0.78740
4      NaN      NaN      NaN      NaN      NaN      NaN

[5 rows x 361 columns]
----------------------------------------

In [84]:
#Write ID's you want to extact
columns_to_select = ["Gage ID --->", 1800, 4500, 9800, 11000, 11500, 36500, 43000, 58000, 58800, 67300, 68500, 69000, 70700, 75000, 77800, 79300, 80200, 
                     83300, 84000, 84200, 84500, 84700, 86200, 87300]

In [86]:
# Specify the output directory and file name
output_directory = '/Users/kishupatel/Downloads/k'
output_file_name = 'filtered_output2022.xlsx' # change name of file when you change file name in file_path
output_file_path = os.path.join(output_directory, output_file_name)

# Initialize a list to store all filtered data
all_filtered_data = []

In [88]:
# Loop through each sheet in the dfs dictionary
for sheet_name, df in dfs.items():
    # Check if the required columns are in the sheet
    if all(col in df.columns for col in columns_to_select):
        # Select the relevant columns (including 'Date')
        filtered_data = df[columns_to_select]

        # Remove rows where 'Date' contains 'total' or 'footnote'
        filtered_data = filtered_data[~filtered_data['Gage ID --->'].str.contains('footnote|Average|Median', case=False, na=False)]

        # Remove rows that are completely empty or contain only spaces
        filtered_data = filtered_data.dropna(how='all')  # Remove rows where all values are NaN

        # Remove rows where all values are empty strings (spaces)
        filtered_data = filtered_data[~filtered_data.apply(lambda x: x.str.strip().eq('').all(), axis=1)]

        # Append non-empty data to the list
        if not filtered_data.empty:
            all_filtered_data.append(filtered_data)
    else:
        print(f"Columns {columns_to_select} not found in sheet: {sheet_name}")

# Combine all the filtered data into a single DataFrame
final_data = pd.concat(all_filtered_data, ignore_index=True)

# Save the filtered data to a new Excel file
final_data.to_excel(output_file_path, index=False)

print(f"Filtered data saved to {output_file_path}")

Filtered data saved to /Users/kishupatel/Downloads/k/filtered_output2022.xlsx

<b><h3>Method 1: Extract last few rows from excel file and store it in a new file</b></h3> Beacuse we require total value and it was in the last sheet so the extracted data will have totals in the last 13 rows. After extracting this you can combine them manually.

In [91]:
# Specify the input file path and name
input_file_path = '/Users/kishupatel/Downloads/k/filtered_output2022.xlsx'# change name of file when you change file name in file_path

# Load the DataFrame from the input Excel file
df = pd.read_excel(input_file_path)

# Assuming df is your DataFrame
first_row = df.head(1)  # Extract the first row
last_13_rows = df.tail(13)  # Extract the last 13 rows
last_13_rows = last_13_rows.iloc[:-1]# Drop the last row from these 13 rows

# Specify the path for the output Excel file
output_path = '/Users/kishupatel/Downloads/k/filtered2022.xlsx'# change name of file when you change file name in file_path

# Create an Excel writer and save both DataFrames in the same file
with pd.ExcelWriter(output_path) as writer:
    last_13_rows.to_excel(writer, sheet_name='Last 13 Rows', index=False)

print(f"Filtered data saved to {output_path}")

Filtered data saved to /Users/kishupatel/Downloads/k/filtered2022.xlsx

<b><h3>Method 2: Extract data from the files created above.</b></h3> This code will extract and merge the last rows into one file.

In [95]:
import pandas as pd
import os

# List of input file paths (replace with your actual list of files)
input_files = ['/Users/kishupatel/Downloads/k/filtered_output2022.xlsx', 
               '/Users/kishupatel/Downloads/k/filtered_output2023.xlsx',
               '/Users/kishupatel/Downloads/k/filtered_output2024.xlsx']

# Create empty DataFrames to store the combined data
last_13_rows_combined = pd.DataFrame()

# Loop through each input file
for input_file_path in input_files:
    # Load the DataFrame from the current input Excel file
    df = pd.read_excel(input_file_path)
    
    # Extract and last 12 rows
    last_13_rows = df.tail(13)
    last_13_rows = last_13_rows.iloc[:-1]# Drop the last row from these 13 rows which is Total of the year.
    
    # Append the extracted data to the combined DataFrames
    last_13_rows_combined = pd.concat([last_13_rows_combined, last_13_rows], ignore_index=True)
    
    print(f"Processed file: {input_file_path}")

# Specify the output file path
output_file_path = '/Users/kishupatel/Downloads/k/output_file.xlsx'

# Create an Excel writer and save both combined DataFrames in the same file
with pd.ExcelWriter(output_file_path) as writer:
    last_13_rows_combined.to_excel(writer, sheet_name='Last 13 Rows', index=False)

print(f"Combined data saved to: {output_file_path}")

Processed file: /Users/kishupatel/Downloads/k/filtered_output2022.xlsx
Processed file: /Users/kishupatel/Downloads/k/filtered_output2023.xlsx
Processed file: /Users/kishupatel/Downloads/k/filtered_output2024.xlsx
Combined data saved to: /Users/kishupatel/Downloads/k/output_file.xlsx

<b>next two cell for arranging old file (collected by previous year student) </b>

I could not find data files before 2011 january on website so i am using previously collected data.

In [104]:
# Path to your CSV file
input_file_path = '/Users/kishupatel/Desktop/DesFert/PrecipFiles/previous year student work/precipitation2008_2021.csv'

# Load the data from the CSV file
df = pd.read_csv(input_file_path)

# Ensure the 'Date' column is in datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Add 'Year' and 'Month' columns for grouping
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month

# Replace NA values in the 'Precipitation' column with 0 for summing
df['Precipitation'] = pd.to_numeric(df['Precipitation'], errors='coerce').fillna(0)

# Group by Station, Year, and Month, and calculate the total precipitation
station_monthly_precipitation = (
    df.groupby(['Station', 'Year', 'Month'])['Precipitation']
    .sum()
    .reset_index()
)

# Sort the data by Station, Year, and Month
station_monthly_precipitation = station_monthly_precipitation.sort_values(
    by=['Station', 'Year', 'Month']
)

#print(f"Station-wise monthly precipitation totals saved to: {output_file_path}")
# Save the result to a CSV file
output_file_path = '/Users/kishupatel/Desktop/DesFert/PrecipFiles/totals2008-21.xlsx'
with pd.ExcelWriter(output_file_path) as writer:
    station_monthly_precipitation.to_excel(writer, sheet_name='totals2008-21', index=False)

print(f"Monthly precipitation totals saved to: {output_file_path}")

Monthly precipitation totals saved to: /Users/kishupatel/Desktop/DesFert/PrecipFiles/totals2008-21.xlsx

In [106]:
# Load your Excel file
file_path = '/Users/kishupatel/Desktop/DesFert/PrecipFiles/totals2008-21.xlsx'
df = pd.read_excel(file_path)

# If Month contains numeric values (1, 2, ...), convert them to month names
import calendar
df['Month'] = df['Month'].apply(lambda x: calendar.month_abbr[int(x)] if str(x).isdigit() else x)

# Step 1: Merge 'Month' and 'Year' columns into a single column
df['Month_Year'] = df['Month'] + '-' + df['Year'].astype(str)

# Step 2: Create a pivot table
pivot_df = df.pivot_table(
    index='Month_Year',       # Row labels (merged Month-Year)
    columns='Station',     # Column labels (Station ID)
    values='Precipitation',   # Values to fill in (Precipitation)
    aggfunc='sum'             # Aggregation function in case of duplicates
)

# Step 3: Reorder rows based on chronological order
# Convert 'Month_Year' back to a datetime object for proper sorting
pivot_df = pivot_df.sort_index(key=lambda x: pd.to_datetime(x, format='%b-%Y'))

# Save the result to an Excel file
output_file_path = '//Users/kishupatel/Desktop/DesFert/PrecipFiles/output_file.xlsx'
pivot_df.to_excel(output_file_path)

print(f"Reshaped data saved to {output_file_path}")

Reshaped data saved to //Users/kishupatel/Desktop/output_file.xlsx